body {
	font-size: 14px;
	line-height: 16px;
	color: ;
	font-weight: normal;
	font-family: "Roboto", "Arial", sans-serif;
	width: 1200px;
	margin: 0 auto;
	padding: 0;
	background-color: #849d8f;
}

h2 {
	font-size: 35px;
	line-height: 41px;
	color: ;
	font-weight: bold;
	font-family: "Roboto", "Arial", sans-serif;
}

h3 {
	font-size: 24px;
	line-height: 30px;
	color: ;
	font-weight: bold;
	font-family: "Roboto", "Arial", sans-serif;
}

.top {
	min-height: 74px;
}

.container {
	width: 1146px;
	margin: 0 auto;
	padding: 0 26px;
	background-color: antiquewhite;
	
}

.top a {
	float: left;
}

.main-navigation {
	float: left;
	width: 385px;
}

.user-block {
	float: right;
	width: 267px;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.shedule {
	float: right;
	width: 166px;
	height: 40px;
}

. hidden {
	display: none;
}

.slider {
	width: 670px;
	height: 590px;
	margin-left: auto;
	margin-right: auto;
}

.promotion {
	padding: 0;
	height: 230px;
	margin-bottom: 95px;
	
}

.promo {
	
	width: 560px;
	min-height: 230px;
	
}

.left {
	float: left;
	
}

.right {
	float:right;
	
}

.catalog {
	padding: 0;
	margin-bottom: 65px;
	min-height: 326px;
	background-color: aquamarine;
}

.catalog-item {
	float:left;
	width: 267px;
	margin-right: 26px;
}
.catalog-item:nth-child(4n) {
	float:right;
	margin-right: 0;
}

.feature {
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 55px;
	
}

.feature-wrapper{
	width: 1106px;
	padding:0;
	margin: 0 auto;
}

.feature-item {
	float: left;
	width: 540px;
	
	
}

.feature-item:nth-child(even) {
	float: right; 
}

.blog {
	padding:0;
	height: 221px;
	margin-bottom: 40px;
}

.blog-news {
	float:left;
	padding-left: 20px;
	width: 540px;
	height: 220px;
	margin-left: 26px;
}

.blog-subscribe {
	float: right;
	padding-left: 20px;
	width: 540px;
	height: 220px;
		
}

.map { 
width: 1200px;
height: 430px;
	padding-top: 60px;
	padding-right: 27px;
	
}

.feedback {
	float: right;
	width: 300px;
	height: 305px;
	padding-top: 60px;
	padding-left: 25px;
	background-color: white;
	
}

footer {
	margin-top: 25px;
}

.footer-social {
	float: left;
	width: 185px;
	margin-right: 213px;
		
}

.footer-docs {
	float:left;
	width: 335px;
	margin-right: 26px;
	}

.footer-copyright {
	float:right;
	width: 192px;
}

.feedback-modal {
	width: 478px;
	height: 445px;
}

.breadcrumbs {
	float: left;
	margin-bottom: 11px;
	}

/*
h1 {
	display: inline-block;
	float: left;
	margin-bottom: 33px;
}
*/

.filter {
	float: left;
	width: 853px;
	height: 133px;
	padding: 0;
	margin-bottom: 33px;
}

.filter-item {
	float:left;
	margin-right: 17px;
}


.paginator {
	margin-top: 25px;
	position:relative;
	float:right;
	width: 192px;
}