body {
   font-size: 16px;
   line-height: 24px;
   color: #ffffff;
   font-weight: 400;
   font-family: "Roboto", "Arial", sans-serif;
   margin: 0;
   padding: 0;
   background-color: #849d8f;
}

input,
textarea,
keygen,
select,
button {
   font-family: inherit;
   font-size: inherit;
}

h1 {}

h2 {
   font-size: 35px;
   line-height: 41px;
   color: #000000;
   font-weight: bold;
   font-family: "Roboto", "Arial", sans-serif;
}

h3 {
   font-size: 24px;
   line-height: 30px;
   color: #000000;
   font-weight: bold;
   font-family: "Roboto", "Arial", sans-serif;
}

.header {
   margin: 0;
   padding: 0;
}

.top {
   padding: 0;
   margin: 0;
   min-height: 74px;
}

.container {
   width: 1146px;
   margin: 0 auto;
   padding: 0 26px;
}

.logo {
   float: left;
}

.main-navigation {
   margin: 0;
   padding: 0;
   float: left;
   color: #ffffff;
   width: 450px;
}

.main-menu a {
   display: block;
   padding: 8px 14px;
   color: #ffffff;
   text-decoration: none;
}

.main-menu a span {
   border-bottom: 1px solid rgba(255,255,255,.2);
}

.navigation-link:hover span {
   border-bottom: none;
}

.main-menu a:hover {
   color: #000000;
   background-color: rgba(248,247,244,.988);
   border-radius: 32px;
   text-decoration: none;
   }
.main-menu a:active {
   border-radius: 32px;
   text-decoration: none;
  background-color: rgba(248,247,244,.988);
   box-shadow: inset 0px 2px 1px 0px rgba(136, 136, 136, 1);
   }


.main-menu ul {
   margin: 0;
   padding: 0;
   list-style: none;
   font-size: 0;
}

.main-menu  li {
   position: relative;
   display: inline-block;
   padding:  0px;
   font-size: 16px;
   line-height: 18px;
   font-weight: bold;
   vertical-align: top;
}

.sub-menu {
   position: absolute;
   display:block;
   margin: 0;
   padding: 9px 8px;
   width: 143px;
   list-style: none;
   border-radius: 5px;
   background-color: rgb(248,247,244);
   box-shadow: 0px 20px 20px 0px rgba(0,0,0,0.4);
   z-index: 20;
}
.sub-menu li {
  margin-left: 8px;
}

.sub-menu .hot {
   border-bottom: 1px solid rgba(0,0,0,.2);
}

  .sub-menu a {
     display: block;
      color: #000000;
     padding: 8px 14px;
     font-size: 14px;
     font-weight: 400;
     text-decoration: none;
}

.sub-menu a:hover {
   background-color: #fbded7;
}

.sub-menu a:active {
   background-color: #f6b5a5;
}
.user-block {
   float: right;
   width: 267px;
   color: #ffffff;
}

.user-block a {
   display: block;
   color: #ffffff;
   text-decoration: none;
   border-radius: 32px;
   background: rgba(255,255,255,.2);
   padding: 8px 16px;
}

.user-block a:hover {
   color: #000000;
   background-color: #f8f7f4;
}

.user-block ul {
   margin: 0;
   padding: 0;
   list-style: none;
   font-size: 0;
}

.user-block li {
   display: inline-block;
   margin-right: 10px;
   padding: 22px 0px;
   font-size: 14px;
   line-height: 16px;
   font-weight: 500;
   vertical-align: top;
}

.user-block li:last-child {
   margin-right: 0;
}

.user-block .login {
   position: relative;
   padding-left: 45px;
}

.user-block .login::before {
   content: "";
   position: absolute;
   width: 22px;
   height: 22px;
   top: 6px;
   left: 16px;
   background: transparent url("../img/login.png") no-repeat;
}

.user-block .login::before:hover {
   background: transparent url("../img/login-bl.png") no-repeat;
}

.user-block .basket {
   position: relative;
   padding-right: 30px;
   padding-left: 50px;
}

.user-block .basket::before {
   content: "";
   position: absolute;
   width: 22px;
   height: 22px;
   top: 6px;
   left: 16px;
   background: transparent url("../img/basket.png") no-repeat;
}

.user-block .basket::before:hover {
   content: "";
   position: absolute;
   width: 22px;
   height: 22px;
   top: 6px;
   left: 16px;
   background: transparent url("../img/basket-bl.png") no-repeat;
}

.user-block .find {
   font-size: 0;
   position: relative;
}

.user-block .find::before {
   content: "";
   position: absolute;
   width: 17px;
   height: 18px;
   top: 7px;
   left: 7px;
   background: transparent url("../img/magnifer.png") no-repeat;
}

.user-block .find::before:hover {
   content: "";
   position: absolute;
   width: 17px;
   height: 18px;
   top: 7px;
   left: 7px;
   background: transparent url("../img/magnifer-bl.png") no-repeat;
}

.menu-tooltip {
   display: none;
   position: absolute;
   top: 60px;
   padding-top: 4px;
   right: 550px;
   cursor: default;
}

.menu-tooltip-label:hover .menu-tooltip {
   display: block;
}

.find-hover {
   padding: 20px 16px;
   background: #f8f7f4;
   font-size: 14px;
    border-radius: 6px;
box-shadow: 0px 20px 20px 0px rgba(0,0,0,.4);

}

.find-hover input {
   width: 280px;
   padding: 9px 14px;
   border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.login-dropdown {
   display:none;
   position: absolute;
   top: 60px;
   right: 14%;
   padding: 20px 16px;
   width: 237px;
  border-radius: 6px;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0px rgba(0,0,0,.4);

}
.login-hover input {
   width: 207px;
   padding: 9px 14px;
   margin-bottom: 20px;
   border: 1px solid rgba(178,178,178,.52);
  border-radius: 5px;
   }

.login-hover input:hover {
border: 2px solid rgba(154,154,154,.52);
}

.login-hover input:focus {

  border: 2px solid rgba(46, 136, 228,.52);

}



.login-dropdown a {
   float:right;
   padding: 0;
   margin: 0;
   color: #000000;
   font-size: 13px;
   line-height: 24px;
   font-weight: 400;
   text-align: right;
   vertical-align: top;
}

login-dropdown .btn {
   margin: 0;
}

.clearfix::after {
   content: "";
   display: table;
   clear: both;
}

.shedule {
   text-align: right;
   height: 40px;
   font-size: 14px;
   line-height: 16px;
   font-weight: bold;
}

.shedule b {
   font-size: 22px;
   line-height: 24px;
   font-weight: bold;
}

. hidden {
   display: none;
}


/*слайдер */

body > input[type="radio"] {
   display: none;
}

.site-wrapper {
   min-width: 1240px;
   background-clip: #849d8f;
   background-repeat: no-repeat;
   background-position: top center;
   transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
   content: "";
   visibility: hidden;
}

.site-wrapper::before {
   background-image: url("slide-2.png");
}

.site-wrapper::after {
   background-image: url("slide-3.png");
}

.content-wrapper {
   width: 1200px;
   margin: 0 auto;
   padding: 0 20px;
}

.slider {
   position: relative;
   margin: 0 26px 40px;
   padding-top: 270px;
   text-align: center;
   color: #ffffff;
}

.slide {
   display: none;
}

.slide-title {
   width: 700px;
   margin: 0 auto;
   margin-bottom: 30px;
   font-weight: bold;
   font-size: 60px;
   line-height: 61px;
}

.slide-btn {
   display: inline-block;
   padding: 12px 50px;
   font-weight: 600;
   font-size: 31px;
   line-height: 41px;
   vertical-align: top;
   color: #ffffff;
   text-decoration: none;
   text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
   background: #f26843;
   background: -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
   background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
   background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
   border-radius: 100px;
   box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.slide-btn:hover {
   background: -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
   background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
   background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
   box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn:active {
   background: -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
   background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
   background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
   box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
   position: absolute;
   bottom: 25px;
   left: 0;
   z-index: 20;
   font-size: 0;
}

.slider-controls label {
   display: inline-block;
   width: 17px;
   height: 17px;
   margin-right: 8px;
   vertical-align: top;
   background-color: transparent;
   border: 2px solid #ffffff;
   border-radius: 50%;
   cursor: pointer;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
   display: block;
}

#btn-1:checked ~ .site-wrapper {
   background-color: #849d8f;
   background-image: url("../img/slider1.png");
}

#btn-2:checked ~ .site-wrapper {
   background-color: #8996a6;
   background-image: url("../img/slider2.png");
}

#btn-3:checked ~ .site-wrapper {
   background-color: #9d8b84;
   background-image: url("../img/slider3.png");
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
   background-color: #ffffff;
}


/*промо*/

.promotion {
   padding: 0;
   height: 230px;
   margin-bottom: 40px;
}

.promo {
   max-width: 520px;
   min-height: 230px;
   padding: 0 20px;
   border-radius: 18px;
}

.promo h3 {
   font-size: 35px;
   line-height: 41px;
   color: #ffffff;
   font-weight: bold;
   margin: 20px 0;
}

.promo p {
   font-size: 18px;
   line-height: 22px;
   font-weight: bold;
   margin: 0;
   margin-bottom: 45px;
}

.btn {
   display: inline-block;
   color: #ffffff;
   padding: 11px 24px;
   text-align: center;
   text-decoration: none;
   font-size: 18px;
   line-height: 24px;
   background-image: linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
   border-radius: 48px;
   box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.promo footer {
   text-align: right;
}

.left {
   float: left;
   background-image: url("../img/raspberry.jpg");
}

.right {
   float: right;
   background-image: url("../img/chocolate.jpg");
}

.catalog {
   padding: 0;
   margin-bottom: 40px;
   min-height: 326px;
}

.catalog-item {
   position: relative;
   float: left;
   width: 267px;
   margin-right: 26px;
}

.catalog-image {
   width: 265px;
   height: 265px;
   border-radius: 265px;
   overflow: hidden;
   margin-bottom: 14px;
}

.catalog-item img {
   border-radius: 265px;
}

.hit::before {
   content: '';
   width: 61px;
   height: 61px;
   position: absolute;
   left: 1px;
   top: 1px;
   border-radius: 61px;
   background: transparent url("../img/hit.png") no-repeat center;
}

.catalog-item:nth-child(4n) {
   margin-right: 0;
}

.catalog-item p {
   position: absolute;
   margin: 0;
   font-size: 30px;
   color: #ffffff;
   font-weight: bold;
   line-height: 45px;
   text-align: left;
   text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
   top: 200px;
}

.catalog-item span {
   font-size: 45px;
   line-height: 45px;
}


/*подчёркивание разобратся*/

.catalog-item a {
   color: #ffffff;
   font-size: 16px;
   line-height: 22px;
   text-decoration: none;
}

.catalog-item .underline {
   display: inline-block;
   font-size: 16px;
   line-height: 22px;
   text-decoration: underline;
   /*   border-bottom: 1px solid #9db1a5;*/
   text-align: center;
}

.hover {
   display: none;
}

.feature {
   margin: 0;
   margin-bottom: 40px;
   padding: 27px 20px;
   height: 306px;
   background: #f3e6d1 url("../img/pattern-waffles.jpg") center;
   border-radius: 12px;
}

.feature h3 {
   margin: 0;
   margin-bottom: 8px;
}

.feature-wrapper {
   padding: 0;
   margin: 0 auto;
}

.feature-item {
   display: inline-block;
   max-width: 477px;
   margin: 0;
   margin-right: 26px;
   margin-bottom: 17px;
   padding: 0;
   padding-top: 14px;
   padding-left: 60px;
   float: left;
   font-size: 16px;
   line-height: 22px;
   font-weight: 400;
   color: #323232;
}

.feature-item:nth-child(2n) {
   margin-right: 0;
}

.ice {
   background: url(../img/icecream.png) no-repeat;
}

.leaf {
   background: url(../img/leaf.png) no-repeat;
}

.cow {
   background: url(../img/cow.png) no-repeat;
}

.termo {
   background: url(../img/thermo.png) no-repeat;
}

.blog {
   padding: 0;
   height: 221px;
   margin-bottom: 50px;
}

.blog-news {
   float: left;
   padding-left: 22px;
   width: 530px;
   height: 220px;
   margin-right: 26px;
   border-radius: 13px;
   background: #ffffff url("../img/blog.jpg") no-repeat center;
}

.blog-news h3 {
   font-size: 16px;
   line-height: 22px;
   font-weight: 500;
   text-align: left;
}

.blog-news a {
   display: inline-block;
   color: #323232;
   font-size: 24px;
   line-height: 30px;
   font-weight: bold;
   text-align: left;
}

.blog-subscribe {
   float: right;
   padding: 6px 6px;
   width: 548px;
   height: 210px;
   background: #ffffff url("../img/pattern_post.png");
   border-radius: 13px;
   z-index: -1;
}

.blog-subscribe .layer {
   margin: 0;
   padding: 35px 20px;
   width: 508px;
   height: 140px;
   background-color: #f8f7f4;
   border-radius: 11px;
}

.blog-subscribe p {
   color: #5a5a5a;
   font-weight: 16px;
   line-height: 22px;
   font-weight: 500;
   text-align: left;
   margin: 0;
   margin-bottom: 39px;
   padding: 0;
}

.blog-subscribe input {
   margin: 0;
   margin-right: 10px;
   padding: 10px 15px;
   width: 306px;
   height: 22px;
   border-radius: 4px;
   font-size: 16px;
   line-height: 24px;
   font-weight: bold;
   color: #000000;
}

.blog-subscribe input:hover {
   border: 2px solid #c7c6c3;
}

.blog-subscribe input:focus {
   border: 2px solid #8fbdec;
}

.map {
   height: 430px;
   padding: 0;
   margin: 0;
   margin-bottom: 20px;
   background: #f7f1d9 url("../img/map.jpg") no-repeat center;
}

.feedback {
   float: right;
   padding: 30px 26px;
   margin: 0px;
   margin-top: 63px;
   width: 250px;
   border-radius: 12px;
   max-height: 305px;
   background-color: white;
}

.feedback p {
   display: inline-block;
   margin: 0;
   margin-right: 85px;
   margin-bottom: 10px;
   color: #000000;
   font-size: 14px;
   line-height: 20px;
   font-weight: 400;
   text-align: left;
}

.feedback b {
   display: inline-block;
   padding: 0;
   margin: 10px 0;
   color: #000000;
   font-size: 18px;
   line-height: 24px;
   font-weight: bold;
   text-align: left;
}

.feedback span {
   font-size: 14px;
   line-height: 22px;
   font-weight: 400;
}

.main-footer {
   border-top: 1px solid rgba(255, 255, 255, .2);
   padding-bottom: 23px;
}

.footer-social {
   float: left;
   width: 250px;
   margin: 0;
   padding: 0;
   padding-top: 15px;
   margin-right: 203px;
}

.social-btn {
   font-size: 0;
   padding: 0;
   display: inline-block;
   height: 32px;
   width: 32px;
   margin-right: 10px;
   vertical-align: middle;
   border: 4px solid rgba(255, 255, 255, .5);
   border-radius: 39px;
   opacity: 0.8;
}

.social-btn:hover {
   opacity: 1;
}

.social-btn:active {
   box-shadow: inset 0px 2px 1px 0px rgba(136, 136, 136, 1);
   opacity: 0.8;
}

.social-btn:last-child {
   margin-right: 0;
}

.social-btn-tw {
   background-image: url("../img/tw.png");
   background-repeat: no-repeat;
}

.social-btn-inst {
   background-image: url("../img/insta.png");
   background-repeat: no-repeat;
}

.social-btn-fb {
   background-image: url("../img/fb.png");
   background-repeat: no-repeat;
}

.social-btn-vk {
   background-image: url("../img/vk.png");
   background-repeat: no-repeat;
}

.footer-docs {
   float: left;
   margin: 0;
   padding: 0;
   padding-top: 15px;
   width: 380px;
   margin-right: 26px;
}

.footer-docs a {
   font-size: 13px;
   line-height: 18px;
   color: #ffffff;
   text-decoration: none;
   text-align: left;
   margin-bottom: 6px;
   margin-right: 26px;
   padding-left: 24px;
}

.footer-copyright {
   margin: 0;
   padding: 0;
   float: right;
   width: 190px
}

.footer-copyright img {
   margin: 0;
   margin-bottom: 3px;
   padding: 0;
}

.footer-copyright p {
   font-size: 12px;
   line-height: 18px;
   margin: 0;
   padding: 0;
   text-align: justify;
}

.feedback-modal {
   position: fixed;
  top: 50%;
  left: 50%;

   margin-top: -222px;
   margin-left: -239px;
   width: 430px;

   padding: 20px 23px;
  border-radius: 10px;
  background-color: rgb(248, 247, 244);
 }

.modal-close {
   position: absolute;
   margin: 0;
   padding: 0;
   top: 15px;
   right: 16px;
   width: 25px;
  height: 25px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
   content: "";
  position: absolute;
   top: 6px;
   right: -2px;
  width: 19px;
  height: 3px;
  background-color: #000000;

}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}



.feedback-modal h2 {
   float:left;
   margin: 0;
   margin-bottom: 20px;
   font-size: 24px;
   line-height: 28px;
   font-weight: 500;

}

.feedback-modal form {
   margin: 0;
   margin-bottom: 25px;
}

.feedback-modal input {
   width: 247px;
}

.feedback-modal textarea {
   width: 400px;

}

.feedback-modal input,
.feedback-modal textarea {

   padding: 9px 14px;
   margin-bottom: 20px;
   border: 1px solid rgba(178,178,178,.52);
  border-radius: 5px;
}

.feedback-modal .btn {
   float:right;
   margin: 0;
}

.modal-overlay {
   display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.5);
}
.breadcrumbs {
   display: inline-block;
   text-align: left;
   width: 100%;
   margin-bottom: 11px;
}

.form-wrapper {
   width: 100%;
}

.filter {
   float: left;
   width: 863px;
   padding: 0;
   margin-bottom: 30px;
}

.filter-item {
   float: left;
   margin-right: 17px;
}

.paginator {
   margin-bottom: 30px;
   position: relative;
   float: right;
   width: 192px;
}
