body {
   font-size: 14px;
   line-height: 16px;
   color: #ffffff;
   font-weight: 400;
   font-family: "Roboto", "Arial", sans-serif;
   margin: 0;
   padding: 0;
   background-color: #849d8f;
}

h1 {}

h2 {
   font-size: 35px;
   line-height: 41px;
   color: #000000;
   font-weight: bold;
   font-family: "Roboto", "Arial", sans-serif;
}

h3 {
   font-size: 24px;
   line-height: 30px;
   color: #000000;
   font-weight: bold;
   font-family: "Roboto", "Arial", sans-serif;
}

.header {
   margin: 0;
   padding: 0;
}

.top {
   padding: 0;
   margin: 0;
   min-height: 74px;
}

.container {
   width: 1146px;
   margin: 0 auto;
   padding: 0 26px;
   /*   background: #f1f1f1;*/
}

.logo {
   float: left;
}

.main-navigation {
   padding: 0;
   float: left;
   color: #ffffff;
   width: 450px;
}

.main-navigation a {
   display: block;
   padding: 8px 15px;
   color: #ffffff;
   text-decoration: none;
}

.main-navigation a span {
   border-bottom: 1px solid #a1b6ab;
}

.navigation-link:hover span {
   border-bottom: none;
}

.main-navigation a:hover {
   color: #000000;
   background: #ffffff;
   border-radius: 32px;
   text-decoration: none;
}

.main-navigation ul {
   margin: 0;
   padding: 0;
   list-style: none;
   font-size: 0;
}

.main-navigation li {
   display: inline-block;
   padding: 22px 0px;
   font-size: 16px;
   line-height: 18px;
   font-weight: bold;
   vertical-align: top;
}

.user-block {
   float: right;
   width: 267px;
   color: #ffffff;
}

.user-block a {
   display: block;
   color: #ffffff;
   text-decoration: none;
   border-radius: 32px;
   background: #a1b4a9;
   padding: 8px 16px;
}

.user-block a:hover {
   color: #000000;
   background-color: #f8f7f4;
}

.user-block ul {
   margin: 0;
   padding: 0;
   list-style: none;
   font-size: 0;
}

.user-block li {
   display: inline-block;
   margin-right: 10px;
   padding: 22px 0px;
   font-size: 14px;
   line-height: 16px;
   font-weight: 500;
   vertical-align: top;
}

.user-block li:last-child {
   margin-right: 0;
}

.user-block .login {
   position: relative;
   padding-left: 45px;
}

.user-block .login::before {
   content: "";
   position: absolute;
   width: 22px;
   height: 22px;
   top: 6px;
   left: 16px;
   background: transparent url("../img/login.png") no-repeat;
}

.user-block .login::before:hover {
   background: transparent url("../img/login-bl.png") no-repeat;
}

.user-block .basket {
   position: relative;
   padding-right: 30px;
   padding-left: 50px;
}

.user-block .basket::before {
   content: "";
   position: absolute;
   width: 22px;
   height: 22px;
   top: 6px;
   left: 16px;
   background: transparent url("../img/basket.png") no-repeat;
}

.user-block .basket::before:hover {
   content: "";
   position: absolute;
   width: 22px;
   height: 22px;
   top: 6px;
   left: 16px;
   background: transparent url("../img/basket-bl.png") no-repeat;
}

.user-block .find {
   font-size: 0;
   position: relative;
}

.user-block .find::before {
   content: "";
   position: absolute;
   width: 17px;
   height: 18px;
   top: 7px;
   left: 7px;
   background: transparent url("../img/magnifer.png") no-repeat;
}

.user-block .find::before:hover {
   content: "";
   position: absolute;
   width: 17px;
   height: 18px;
   top: 7px;
   left: 7px;
   background: transparent url("../img/magnifer-bl.png") no-repeat;
}

.clearfix::after {
   content: "";
   display: table;
   clear: both;
}

.shedule {
   text-align: right;
   height: 40px;
   font-size: 14px;
   line-height: 16px;
   font-weight: bold;
}

.shedule b {
   font-size: 22px;
   line-height: 24px;
   font-weight: bold;
}

. hidden {
   display: none;
}

.slider {
   width: 670px;
   height: 590px;
   margin-left: auto;
   margin-right: auto;
}

.slider h2 {
   font-size: 60px;
   line-height: 60, 35px;
   color: #ffffff;
   font-weight: bold;
   text-align: center;
}

.promotion {
   padding: 0;
   height: 230px;
   margin-bottom: 40px;
}

.promo {
   max-width: 520px;
   min-height: 230px;
   padding: 0 20px;
   border-radius: 18px;
}

.promo h3 {
   font-size: 35px;
   line-height: 41px;
   color: #ffffff;
   font-weight: bold;
   margin: 20px 0;
}

.promo p {
   font-size: 18px;
   line-height: 22px;
   font-weight: bold;
   margin: 0;
   margin-bottom: 45px;
}

.btn {
   display: inline-block;
   color: #ffffff;
   padding: 11px 24px;
   text-align: center;
   text-decoration: none;
   font-size: 18px;
   line-height: 24px;
   background-image: linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
   border-radius: 48px;
   box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.promo footer {
   text-align: right;
}

.left {
   float: left;
   background-image: url("../img/raspberry.jpg");
}

.right {
   float: right;
   background-image: url("../img/chocolate.jpg");
}

.catalog {
   padding: 0;
   margin-bottom: 40px;
   min-height: 326px;
}

.catalog-item {
   position: relative;
   float: left;
   width: 267px;
   margin-right: 26px;
}

.catalog-image {
   width: 265px;
   height: 265px;
   border-radius: 265px;
   overflow: hidden;
   margin-bottom: 14px;
}

.catalog-item img {
   border-radius: 265px;
}

.hit::before {
   content: '';
   width: 61px;
   height: 61px;
   position: absolute;
   left: 1px;
   top: 1px;
   border-radius: 61px;
   background: transparent url("../img/hit.png") no-repeat center;
}

.catalog-item:nth-child(4n) {
   margin-right: 0;
}

.catalog-item p {
   position: absolute;
   margin: 0;
   font-size: 30px;
   color: #ffffff;
   font-weight: bold;
   line-height: 45px;
   text-align: left;
   text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
   top: 200px;
}

.catalog-item span {
   font-size: 45px;
   line-height: 45px;
}


/*подчёркивание разобратся*/

.catalog-item a {
   color: #ffffff;
   font-size: 16px;
   line-height: 22px;
   text-decoration: none;
}

.catalog-item .underline {
   display: inline-block;
   font-size: 16px;
   line-height: 22px;
   border-bottom: 1px solid #9db1a5;
   text-align: center;
}

.hover {
   display: none;
}

.feature {
   margin: 0;
   margin-bottom: 40px;
   padding: 27px 20px;
   height: 306px;
   background: #f3e6d1 url("../img/pattern-waffles.jpg") center;
   border-radius: 12px;
}

.feature h3 {
   margin: 0;
   margin-bottom: 8px;
}

.feature-wrapper {
   padding: 0;
   margin: 0 auto;
}

.feature-item {
   display: inline-block;
   max-width: 477px;
   margin: 0;
   margin-right: 26px;
   margin-bottom: 17px;
   padding: 0;
   padding-top: 14px;
   padding-left: 60px;
   float: left;
   font-size: 16px;
   line-height: 22px;
   font-weight: 400;
   color: #323232;
}

.feature-item:nth-child(2n) {
   margin-right: 0;
}

.ice {
   background: url(../img/icecream.png) no-repeat;
}

.leaf {
   background: url(../img/leaf.png) no-repeat;
}

.cow {
   background: url(../img/cow.png) no-repeat;
}

.termo {
   background: url(../img/thermo.png) no-repeat;
}

.blog {
   padding: 0;
   height: 221px;
   margin-bottom: 50px;
}

.blog-news {
   float: left;
   padding-left: 20px;
   width: 540px;
   height: 220px;
   margin-right: 26px;
   border-radius: 12px;
   background: #ffffff url("../img/blog.jpg") no-repeat center;
}

.blog-news h3 {
   height: 16px;
   line-height: 22px;
   font-weight: 500;
   text-align: left;
}

.blog-news a {
   display: inline-block;
   color: #323232;
   height: 14px;
   width: 30px;
   font-weight: bold;
   text-align: left;
}

.blog-subscribe {
   position: relative;
   float: right;
   padding: 37px 25px;
   width: 510px;
   height: 146px;
   background: #ffffff url("../img/pattern_post.png");
   border-radius: 12px;
}

.blog-subscribe::after {
   position: absolute;
   top: 6px;
   left: 6px;
   content: "";
   width: 550px;
   height: 210px;
   background-color: #f8f7f4;
   border-radius: 11px;
   z-index: -1;
}

.blog-subscribe p {
   color: #5a5a5a;
   font-weight: 16px;
   line-height: 22px;
   font-weight: 500;
   text-align: left;
   margin: 0;
   margin-bottom: 39px;
   padding: 0;
}

.blog-subscribe input {
   margin: 0;
   margin-right: 10px;
   padding: 10px 15px;
   width: 306px;
   height: 22px;
   border-radius: 4px;
   font-size: 16px;
   line-height: 24px;
   font-weight: bold;
   color: #000000;

}

.blog-subscribe input:hover {
   border: 2px solid #c7c6c3;
}

.blog-subscribe input:focus {
   border: 2px solid #8fbdec;
}
.map {
   height: 430px;
   padding: 0;
   margin: 0;
   margin-bottom: 20px;
   background: url("../img/map.jpg") no-repeat center;
}

.feedback {
   float: right;
   padding: 30px 26px;
   margin: 0px;
   margin-top: 63px;
   width: 250px;
   border-radius: 12px;
   max-height: 305px;
   background-color: white;
}

.feedback p {
   display: inline-block;
   margin: 0;
   margin-right: 85px;
   margin-bottom: 10px;
   color: #000000;
   font-size: 14px;
   line-height: 20px;
   font-weight: 400;
   text-align: left;
}

.feedback b {
   display: inline-block;
   padding: 0;
   margin: 10px 0;
   color: #000000;
   font-size: 18px;
   line-height: 24px;
   font-weight: bold;
   text-align: left;
}

.feedback span {
   font-size: 14px;
   line-height: 22px;
   font-weight: 400;
}

footer {
   height: 83px;
}

.footer-social {
   float: left;
   width: 250px;
   margin: 0;
   padding: 0;
   padding-top: 15px;
   margin-right: 203px;
}

.social-btn {
   padding: 0;
   display: inline-block;
   height: 32px;
   width: 32px;
   margin-right: 10px;
   vertical-align: middle;
   border: 4px solid #c2cec7;
   border-radius: 39px;
   opacity: 0.8;
}

.social-btn:hover {
   opacity: 1;
}

.social-btn:active {
   box-shadow: inset 0px 2px 1px 0px rgba(136, 136, 136, 1);
   opacity: 0.8;
}

.social-btn:last-child {
   margin-right: 0;
}

.social-btn-tw {
   background-image: url("../img/tw.png");
}

.social-btn-inst {
   background-image: url("../img/insta.png");
}

.social-btn-fb {
   background-image: url("../img/fb.png");
}

.social-btn-vk {
   background-image: url("../img/vk.png");
}

.footer-docs {
   float: left;
   margin: 0;
   padding: 0;
   padding-top: 15px;
   width: 380px;
   margin-right: 26px;
}
.footer-docs a {
   font-size: 13px;
   line-height: 18px;
   color: #ffffff;
   text-decoration: none;

   text-align: left;
   margin-bottom: 6px;
   margin-right: 26px;
   padding-left: 24px;
}

.footer-copyright {
   margin: 0;
   padding: 0;
   float: right;
  width: 190px
}

.footer-copyright img {
   margin: 0;
   margin-bottom: 3px;
   padding: 0;

}

.footer-copyright p {
  font-size: 12px;
   line-height: 18px;
   margin: 0;
   padding: 0;
   text-align: justify;
}
.feedback-modal {
   display: none;
   width: 478px;
   height: 445px;
}

.breadcrumbs {
   text-align: left;
   width: 100%;
   margin-bottom: 11px;
}

.form-wrapper {
   width: 100%;
}

.filter {
   float: left;
   width: 863px;
   padding: 0;
   margin-bottom: 30px;
}

.filter-item {
   float: left;
   margin-right: 17px;
}

.paginator {
   margin-bottom: 30px;
   position: relative;
   float: right;
   width: 192px;
}
