body {
	font-size: 14px;
	line-height: 16px;
	color: #000000;
	font-weight: normal;
	font-family: 'Roboto','Arial' sans-serif;
	margin: 0;
	padding: 0;
	background-color: #849d8f;
}

h1 {
	width: 100%;
	text-align: left;
	float: left;
	margin-bottom: 33px;
}

h2 {
	font-size: 35px;
	line-height: 41px;
	color: ;
	font-weight: bold;
	font-family: "Roboto", "Arial", sans-serif;
}

h3 {
	font-size: 24px;
	line-height: 30px;
	color: ;
	font-weight: bold;
	font-family: "Roboto", "Arial", sans-serif;
}

.header {
	margin: 0;
	padding: 0;
}

.top {
	min-height: 74px;
}

.container {
	width: 1146px;
	margin: 0 auto;
	padding: 0 26px;

}

.top a {
	float: left;
}

.main-navigation {
	float: left;
	width: 385px;
}

.user-block {
	float: right;
	width: 267px;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.shedule {
	text-align: right;
	height: 40px;
}

. hidden {
	display: none;
}

.slider {
	width: 670px;
	height: 590px;
	margin-left: auto;
	margin-right: auto;
}

.promotion {
	padding: 0;
	height: 230px;
	margin-bottom: 95px;
}

.promo {
	width: 560px;
	min-height: 230px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.catalog {
	float: left;
	padding: 0;
	margin-bottom: 65px;
	min-height: 326px;

}

.catalog-item {
	float: left;
	width: 267px;
	margin-right: 26px;
}

.catalog-item:nth-child(4n) {
	margin-right: 0;
}

.feature {
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 55px;
}

.feature-wrapper {
	display: width: 1106px;
	padding: 0;
	margin: 0 auto;
}

.feature-item {
	float: left;
	width: 540px;
	margin-bottom: 35px;
}

.feature-item a {
	text-align: center;
}

.blog {
	padding: 0;
	height: 221px;
	margin-bottom: 40px;
}

.blog-news {
	float: left;
	padding-left: 20px;
	width: 540px;
	height: 220px;
	margin-left: 26px;
}

.blog-subscribe {
	float: right;
	padding-left: 20px;
	width: 540px;
	height: 220px;
}

.map {
	width: 1200px;
	height: 430px;
	padding-top: 60px;
	padding-right: 27px;
}

.feedback {
	float: right;
	width: 300px;
	height: 305px;
	padding-top: 60px;
	padding-left: 25px;
	background-color: white;
}

.footer-social {
	float: left;
	width: 250px;
	margin-right: 203px;
}

.social-btn {
	padding: 0;
	display: inline-block;
	background-color: #e6ebe9;
	height: 37px;
	width: 37px;
	margin-right: 10px;
	vertical-align: middle;
	border: 3px solid #c2cec7;
	border-radius: 40px;
}
.social-btn:last-child {
	margin-right: 0;
}


.social-btn-tw {
	background-image: url(/img/tweet.png);
	opacity: 0;
}
.social-btn-inst {
	background-image: url(/img/isnsta.png);
}
.social-btn-fb {
	background-image: url(/img/fb.png);
}
.social-btn-vk {
	background-image: url(/img/vk.png);
}

.footer-docs {
	float: left;
	width: 335px;
	margin-right: 26px;
}

.footer-copyright {
	float: right;
	width: 192px;
}

.feedback-modal {
	display: none;
	width: 478px;
	height: 445px;
}

.breadcrumbs {
	text-align: left;
	width: 100%;
	margin-bottom: 11px;
}

.form-wrapper {
	width: 100%;
}

.filter {
	float: left;
	width: 863px;
	padding: 0;
	margin-bottom: 30px;
}

.filter-item {
	float: left;
	margin-right: 17px;
}

.paginator {
	margin-bottom: 30px;
	position: relative;
	float: right;
	width: 192px;
}
